a {
  text-decoration:none;
  color:black;
}
#topbar div{
  display:inline;
}
#sidebar {
  border: gray solid 1px;
  font-size: 14px;
  width:25%;
  text-align:center;
  position:absolute;
  right:0px;
  height:100%;
}
#topbar{

}

.bid{
  display:inline;
}

.trump{
  display:inline;
}

.card{
  display:inline;
}

