{% extends "template.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gameboard.css') }}">
{% endblock %}

{% block body %}
<div id="topbar" style="border:1px black solid"></div>
<div id="display"></div>
{% endblock %}

{% block closing_scripts %}
<script type="text/template" id="topbar-template">
  <div id="username"><%= username %></div> <div id="games-list">Games</div> <div id="newgame">New Game</div> <div id="rules">Rules</div>
</script>



<script type="text/template" id="dash-template">
<div id="current-games">
THESE ARE YOUR GAMES:
<% for(i=0;i<games.length;i++) {
  print('<div id="game_'+games[i]+'">'+games[i]+'</div>');
} %>
</div>
</script>



<script type="text/template" id="sidebar-template">
<div id="players">
</div>
</script>

<script type="text/template" id="gameboard-template">
<div id="gameboard">
  <div id="left_player">
    <% var index = (player_number + 3) % 4;
       print(usernames[index]+"'s hand: ");
       for(i=0;i<hands[index];i++){
         print('x');
       }  %>
  </div>
  <div id="top_player">
    <% index = (player_number + 2) % 4;
       print(usernames[index]+"'s hand: ");
       for(i=0;i<hands[index];i++){
         print('x');
       } %>

  </div>
  <div id="right_player">
    <% index = (player_number + 1) % 4;
       print(usernames[index]+"'s hand: ");
       for(i=0;i<hands[index];i++){
         print('x');
       } %>

  </div>
  <div id="player">
    <% print('Your hand: ');
       print(hand); %>
  </div>
</div>
</script>

<script type="text/template" id="hand-template">
<div id="hand">
{% for i in range(6) %}
  <div id="card{{i}}" class="card">
  </div>
{% endfor %}
</div>
</script>

<script type="text/javascript">
  var App = {
    Models: {},
    Collections: {},
    Views: {},
    History: []
  };
  var user_id = {{ user.id }};
</script>

<script src="{{ url_for('static', filename='views.js') }}"></script>
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>
{% endblock %}
