{% extends "template.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gameboard.css') }}">
{% endblock %}

{% block body %}
<div id="topbar" style="border:1px black solid"></div>
<div id="display"></div>
{% endblock %}

{% block closing_scripts %}
<script type="text/template" id="topbar-template">
  <div id="username"><%= username %></div> <div id="games-list">Games</div> <div id="newgame">New Game</div> <div id="rules">Rules</div>
</script>



<script type="text/template" id="dash-template">
<div id="current-games">
THESE ARE YOUR GAMES:
<% for(i=0;i<games.length;i++) {
  print('<div id="game_'+games[i]+'">'+games[i]+'</div>');
} %>
</div>
</script>


<script type="text/template" id="gameboard-template">
<div id="sidebar">
  Game: #<%= id %><br>
  <% if (trump) { %>
  Trump: <%= trump %><br>
  <% } %>
  <% if (leading_suit) { %>
  <%= leading_suit %> led<br>
  <% } %>
  <div id="right_player">
    <% var index = (player_number + 3) % 4;
       var right = index;
       print(usernames[index]+"'s hand: ");
       for(i=0;i<hands[index];i++){
         print('x');
       }  %>
  </div>
  <div id="top_player">
    <% index = (player_number + 2) % 4;
       var top = index;
       print(usernames[index]+"'s hand: ");
       for(i=0;i<hands[index];i++){
         print('x');
       } %>
  </div>
  <div id="left_player">
    <% index = (player_number + 1) % 4;
       var left = index;
       print(usernames[index]+"'s hand: ");
       for(i=0;i<hands[index];i++){
         print('x');
       } %>
  </div>

  <div id="turn">
    <% if (turn == player_number){
         print("It's your turn");
       }
       else{
         print("It's "+usernames[turn]+"'s turn");
       } %>
  </div>
</div>

<div id="control">
  <div id="hand">
     Your hand: 
    <% for (i=0; i<hand.length; i++){
         print('<div id="'+hand[i]+'" class="card">');
         print(hand[i]+'</div> ');
       } %>
  </div>
  <% if (!bid && turn == player_number) { %>
  <div id="bid">
    Bid: <div id="bid_2" class="bid">2,</div> 
         <div id="bid_3" class="bid">3,</div> 
         <div id="bid_4" class="bid">4</div>
  </div>
  <% } 
   else if (bid && !trump && turn == player_number) { %>
  <div id="trump">
    Choose Trump: <div id="trump_h" class="trump">Hearts,</div>
                  <div id="trump_s" class="trump">Spades,</div>
                  <div id="trump_d" class="trump">Diamonds,</div>
                  <div id="trump_c" class="trump">Clubs</div>
  </div>
  <% } %>
</div>

<div id="table">
  <div id="right_card">
    <%= table[right] %>
  </div>
  <div id="top_card">
    <%= table[top] %>
  </div>
  <div id="left_card">
    <%= table[left] %>
  </div>
  <div id="bottom_card">
    <%= table[player_number] %>
  </div>
</div>
</script>

<script type="text/javascript">
  var App = {
    Models: {},
    Collections: {},
    Views: {},
    History: []
  };
  var user_id = {{ user.id }};
</script>

<script src="{{ url_for('static', filename='views.js') }}"></script>
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>
{% endblock %}
